@font-face {
  font-family: "Plain Regular" ;
  src: url(./fonts/plain-regular-webfont.woff);
}

@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-light-webfont.woff);
}

@font-face {
  font-family: 'Silk Serif Italic';
  src: url(./fonts/silkserif-regularitalic-webfont.woff);
}

@font-face {
  font-family: 'Silk Serif';
  src: url(./fonts/silkserif-lightitalic-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plain Light';
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
  /* cursor: none; */
}

body{
  overflow-x: hidden;
}

/* .cursor {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ffffffbe;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
} */

.mousefollower {
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference;
  /* background-color: transparent; */
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0B0B0B;
  padding: 20vh 4vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

.line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-left: 3vw;
}

.line1-part1 h3, .line1-part1 h4 {
  font-size: 3vw;
  font-weight: 100;
  font-family: 'Silk Serif';
}

.line1-part1 h3 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 7.7vw;
}

.line h2 {
  font-size: 4.9vw;
  text-transform: uppercase;
  font-weight: 900;
  /* animation-name: anime; */
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0%{
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
48%{
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

.main {
  position: relative;
  background-color: #151515;
}

.page1 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  z-index: 100;
}

.page1 nav {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw 6vw;
}

.nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
  text-transform: capitalize;
}

.center {
  /* background-color: crimson; */
  width: 72%;
  margin-left: 27%;
  width: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* position: relative; */
  /* z-index: 99999; */
  /* overflow-x: visible; */
}

.center:nth-child(2){
  margin-top: 20vh;
}

.center h1 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  position: relative;
}

.center1::before{
  content: "01";
  position: absolute;
  font-size: 3.5vw;
  font-family: 'Silk Serif';
  font-weight: 100;
  left: -15%;
  top: 19%;
  z-index: 99999;
}

.center h2, .center h3 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.5vw solid #fff;
}

.center h3 {
  border-bottom: none;
}

.center h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: none;
}

.page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}

.video-cursor {
  background-color: #FFA63D;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-cursor i {
  font-size: 2vw;
}

.video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  /* background-color: crimson; */
  background-image: url(./images/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

.video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;

}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #464343; */
  position: relative;
  padding: 17vh 2vw;
  margin-bottom: 80vh;
  padding-top: 20vw;
}

.page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 26vw;
}

.page3 h1::before{
  content: "02";
  position: absolute;
  font-size: 3.5vw;
  font-family: 'Silk Serif';
  font-weight: 100;
  left: -15%;
}

.page3 .underline {
  margin-left: 26vw;
}

.image-div-container {
  /* background-color: red; */
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image-div {
  height: 40vw;
  width: 30vw;
  /* background-color: #FFA63D; */
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin: 2vw;
}

.image-div:nth-child(1){
  height: 30vw;
  width: 22vw;
}

.image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
}

.page3-circle1 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 30vh;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page3-circle1 svg {
  height: 30%;
}

.page3-circle2 {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  /* margin-top: 30vh; */
  /* margin-left: 10vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  scale: 0;
  transition: all ease 0.5s;
}

.circle-in p{
  font-size: 1vw;
  color: #000;
  /* font-weight: 900; */
  width: 80%;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.3s;
  opacity: 0;
}

.page3-circle1:hover .circle-in{
scale: 1;
}

.page3-circle1:hover .circle-in p{
  scale: 1;
  opacity: 1;
}

.page3-circle2:hover .circle-in{
scale: 1;
}

.page3-circle2:hover .circle-in p{
  scale: 1;
  opacity: 1;
}

.page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 7vh 0;
}

.page-4-content {
  width: 72vw;
  margin-left: 27%;
  position: relative;
}

.page-4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}

.page-4-content h1::before{
  content: "03";
  position: absolute;
  font-size: 3.5vw;
  font-family: 'Silk Serif';
  font-weight: 100;
  left: -15%;
}

.underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

.page-4-content>p {
  font-size: 2.5vw;
  width: 55%;
  margin-bottom: 3vw;
}

.page4-flex {
  display: flex;
}

.page4-flex img {
  width: 50%;
}

.page4-flex p {
  font-size: 1vw;
  width: 26%;
  margin-left: 1vw;
}

.page4-blue-div {
  background-color: #3F7DF4;
  width: 33vw;
  padding: 3vw; 
  position: relative;
  margin-top: -33vh;
  margin-left: 26vw;
}

.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: crimson; */
  padding: 2vw 0;
  border-bottom: 2px solid #bfbfbfdd;
}

.blue-div-elem h4 {
  font-size: 1.7vw;
  font-weight: 500;
}

.blue-div-elem p {
  width: 40%;
  font-size: 1vw;
}

.page5 {
  min-height: 100vh;
  width: 100%;
  padding: 5vw 0;
}

.elem {
  /* background-color: crimson; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #DADADA;
  color: transparent;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime2 {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  /* background-color: crimson; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #DADADA;
  color: transparent;
  font-weight: 400;
  display: inline-block;
  margin-right: 16px;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime2;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elem span, .elem2 span {
  font-family: 'Silk Serif Italic';
  color: transparent;
}

footer {
  height: 100vh;
  width: 100%;
  /* background-color: crimson; */
  position: relative;
  padding-left: 26vw;
}

footer h1 {
  font-size: 7vw;
  width: 60vw;
  /* background-color: #3F7DF4; */
  text-transform: uppercase;
  position: relative;
}

footer h1::before{
  content: "04";
  position: absolute;
  font-size: 3.5vw;
  font-family: 'Silk Serif';
  font-weight: 100;
  left: -15%;
}

.underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin:2vw 0 ;
}

.footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 5vw;
  margin-bottom: 6vw;
}

.footer-div h6 {
  font-size: 1vw;
  margin-bottom: 3vh;
}

.footer-div h5 {
  font-size: 1.6vw;
  line-height: 1.6vw;
  font-weight: 500;
}

footer h6 {
  font-size: 1.2vw;
  font-weight: 500;
}


._canvas_container{
  z-index: 999999 !important;
  pointer-events: none;
}